ClinicSoapWebServiceClient/src/main/resources/ProviderWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cs548.stevens.edu/clinic/service/web/soap/provider" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://cs548.stevens.edu/clinic/service/web/soap/provider" name="ProviderWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://cs548.stevens.edu/clinic/service/web/soap/provider" schemaLocation="http://ec2-54-86-143-111.compute-1.amazonaws.com:8080/clinic-soap/ProviderWebService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://cs548.stevens.edu/clinic/service/web/soap/patient" schemaLocation="http://ec2-54-86-143-111.compute-1.amazonaws.com:8080/clinic-soap/ProviderWebService?xsd=2"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://cs548.stevens.edu/clinic/service/dto" schemaLocation="http://ec2-54-86-143-111.compute-1.amazonaws.com:8080/clinic-soap/ProviderWebService?xsd=3"/>
</xsd:schema>
</types>
<message name="addProvider">
<part name="parameters" element="tns:addProvider"/>
</message>
<message name="addProviderResponse">
<part name="parameters" element="tns:addProviderResponse"/>
</message>
<message name="ProviderServiceExn">
<part name="fault" element="tns:ProviderServiceExn"/>
</message>
<message name="getProviderByDbId">
<part name="parameters" element="tns:getProviderByDbId"/>
</message>
<message name="getProviderByDbIdResponse">
<part name="parameters" element="tns:getProviderByDbIdResponse"/>
</message>
<message name="getProviderByNPI">
<part name="parameters" element="tns:getProviderByNPI"/>
</message>
<message name="getProviderByNPIResponse">
<part name="parameters" element="tns:getProviderByNPIResponse"/>
</message>
<message name="siteInfo">
<part name="parameters" element="tns:siteInfo"/>
</message>
<message name="siteInfoResponse">
<part name="parameters" element="tns:siteInfoResponse"/>
</message>
<message name="addTreatmentForPatient">
<part name="parameters" element="tns:addTreatmentForPatient"/>
</message>
<message name="addTreatmentForPatientResponse">
<part name="parameters" element="tns:addTreatmentForPatientResponse"/>
</message>
<message name="PatientNotFoundExn">
<part name="fault" element="tns:PatientNotFoundExn"/>
</message>
<message name="ProviderNotFoundExn">
<part name="fault" element="tns:ProviderNotFoundExn"/>
</message>
<portType name="IProviderWebPort">
<operation name="addProvider">
<input wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/provider/IProviderWebPort/addProviderRequest" message="tns:addProvider"/>
<output wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/provider/IProviderWebPort/addProviderResponse" message="tns:addProviderResponse"/>
<fault message="tns:ProviderServiceExn" name="ProviderServiceExn" wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/provider/IProviderWebPort/addProvider/Fault/ProviderServiceExn"/>
</operation>
<operation name="getProviderByDbId">
<input wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/provider/IProviderWebPort/getProviderByDbIdRequest" message="tns:getProviderByDbId"/>
<output wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/provider/IProviderWebPort/getProviderByDbIdResponse" message="tns:getProviderByDbIdResponse"/>
<fault message="tns:ProviderServiceExn" name="ProviderServiceExn" wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/provider/IProviderWebPort/getProviderByDbId/Fault/ProviderServiceExn"/>
</operation>
<operation name="getProviderByNPI">
<input wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/provider/IProviderWebPort/getProviderByNPIRequest" message="tns:getProviderByNPI"/>
<output wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/provider/IProviderWebPort/getProviderByNPIResponse" message="tns:getProviderByNPIResponse"/>
<fault message="tns:ProviderServiceExn" name="ProviderServiceExn" wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/provider/IProviderWebPort/getProviderByNPI/Fault/ProviderServiceExn"/>
</operation>
<operation name="siteInfo">
<input wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/provider/IProviderWebPort/siteInfoRequest" message="tns:siteInfo"/>
<output wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/provider/IProviderWebPort/siteInfoResponse" message="tns:siteInfoResponse"/>
</operation>
<operation name="addTreatmentForPatient">
<input wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/provider/IProviderWebPort/addTreatmentForPatientRequest" message="tns:addTreatmentForPatient"/>
<output wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/provider/IProviderWebPort/addTreatmentForPatientResponse" message="tns:addTreatmentForPatientResponse"/>
<fault message="tns:PatientNotFoundExn" name="PatientNotFoundExn" wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/provider/IProviderWebPort/addTreatmentForPatient/Fault/PatientNotFoundExn"/>
<fault message="tns:ProviderNotFoundExn" name="ProviderNotFoundExn" wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/provider/IProviderWebPort/addTreatmentForPatient/Fault/ProviderNotFoundExn"/>
<fault message="tns:ProviderServiceExn" name="ProviderServiceExn" wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/provider/IProviderWebPort/addTreatmentForPatient/Fault/ProviderServiceExn"/>
</operation>
</portType>
<binding name="ProviderWebPortBinding" type="tns:IProviderWebPort">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addProvider">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ProviderServiceExn">
<soap:fault name="ProviderServiceExn" use="literal"/>
</fault>
</operation>
<operation name="getProviderByDbId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ProviderServiceExn">
<soap:fault name="ProviderServiceExn" use="literal"/>
</fault>
</operation>
<operation name="getProviderByNPI">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ProviderServiceExn">
<soap:fault name="ProviderServiceExn" use="literal"/>
</fault>
</operation>
<operation name="siteInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addTreatmentForPatient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PatientNotFoundExn">
<soap:fault name="PatientNotFoundExn" use="literal"/>
</fault>
<fault name="ProviderNotFoundExn">
<soap:fault name="ProviderNotFoundExn" use="literal"/>
</fault>
<fault name="ProviderServiceExn">
<soap:fault name="ProviderServiceExn" use="literal"/>
</fault>
</operation>
</binding>
<service name="ProviderWebService">
<port name="ProviderWebPort" binding="tns:ProviderWebPortBinding">
<soap:address location="http://ec2-54-86-143-111.compute-1.amazonaws.com:8080/clinic-soap/ProviderWebService"/>
</port>
</service>
</definitions>